<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Descriptive Statistics Results</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Numbers</dt>
      <dd><%= @stat.get_numbers %></dd>

      <dt>Sorted Numbers</dt>
      <dd><%= @stat.get_numbers.sort %></dd>

      <dt>Count</dt>
      <dd><%= @stat.get_numbers.length %></dd>

      <dt>Minimum</dt>
      <dd><%= @stat.get_numbers.min %></dd>

      <dt>Maximum</dt>
      <dd><%= @stat.get_numbers.max %></dd>

      <dt>Range</dt>
      <dd><%= @stat.range %></dd>

      <dt>Median</dt>
      <dd><%= @stat.median %></dd>

      <dt>Sum</dt>
      <dd><%= @stat.get_numbers.sum %></dd>

      <dt>Mean</dt>
      <dd><%= @stat.mean %></dd>

      <dt>Variance</dt>
      <dd><%= @stat.variance %></dd>

      <dt>Standard Deviation</dt>
      <dd><%= @stat.std_dev %></dd>
    </dl>
  </div>
</div>


