  <h3>Time Between Results</h3>
  <dl >
    <dt>Starting Time</dt>
    <dd><%= @starting.strftime("%l:%M%P on %B %e, %Y") %></dd>

    <dt>Ending Time</dt>
    <dd><%= @ending.strftime("%l:%M%P on %B %e, %Y") %></dd>

    <dt>Seconds</dt>
    <dd><%= @seconds %></dd>

    <dt>Minutes</dt>
    <dd><%= @minutes %></dd>

    <dt>Hours</dt>
    <dd><%= @hours %></dd>

    <dt>Days</dt>
    <dd><%= @days %></dd>

    <dt>Weeks</dt>
    <dd><%= @weeks %></dd>

    <dt>Months</dt>
    <dd><%= @months %></dd>

    <dt>Years</dt>
    <dd><%= @years %></dd>
  </dl>
